@import url(../fonts/sansation/stylesheet.css);
@import url(../fonts/xcelsion/style.css);

body {
  background: #151515; /* url("../images/bkg.png") 0 0;*/
  color: #ddd;
  padding-top: 60px;
}
#sidebar {
  color: #666;
}
h1, h2, h3, h4, h5, .btn {
  font-family: 'SansationBold';
}
.btn {
  font-size: 20px;
  font-weight: boldest;
  color: #000;
  margin-bottom: 3px;
}

.navbar-inner {
  background: #000
}
.navbar .btn {
  font-size: 12px;
  font-weight: boldest;
  color: #000;
  padding: 3px 10px 1px 6px;
}
.navbar .btn:hover {
  color: #fff;
}
.navbar .col-xs-6 {
/*  width: auto;*/
}

h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a {
  color: #f0ad4e;
}
h4, h4 a {
  color: #337ab7;
}
p, ul {
  font-family: 'SansationRegular';
  font-size: 12pt;
  line-height: 120%;
}

a:hover {
  color: #f0ad4e;
}


a[href^="http://alinex.github.io/node-"],
a[href^="https://alinex.github.io/node-"],
.alinex {
  font-family: 'Xcelsion';
}

@media print
a[href]:after {
    content: " (" attr(href) ")";
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modules a[href^="http://alinex.github.io/node-"] {
  padding-top: 8px;
  padding-right: 8px;
}

.imprint {
  margin-top: 40px;
  color: #666;
  border-top: 1px solid #666;
}

.posts {
  margin-top: 64px;
}
.posts h4 {
  color: #666;
}
.posts p {
  margin-bottom: 0;
}
code {
  color: #fff;
  background-color: #666;
}
pre {
  background-color: #ccc;
}
