@import url(../fonts/sansation/stylesheet.css);
@import url(../fonts/xcelsion/style.css);

body {
  background: #151515 url("../images/bkg.png") 0 0;
  color: #ddd;
  padding-top: 60px;
}
#sidebar {
  color: #666;
}
h1, h2, h3, h4, h5, .btn {
  font-family: 'SansationBold';
}
.btn {
  font-size: 20px;
  font-weight: boldest;
  color: #000;
}
.navbar .btn {
  font-size: 12px;
  font-weight: boldest;
  color: #000;
}
h1, h2, h3 {
  color: #f0ad4e;
}
p, ul {
  font-family: 'SansationRegular';
  font-size: 12pt;
  line-height: 120%;
}

a:hover {
  color: #f0ad4e;
}

.navbar-inner {
  background: #000
}

a[href^="http://alinex.github.io/node-"], .alinex {
  font-family: 'Xcelsion';
}

.modulees a[href^="http://alinex.github.io/node-"] {
  font-size: 200%;
  float: left;
  padding-top: 8px;
  padding-right: 8px;
}
.modulses p {
  padding-top: 8px;
}