---
title: Development Index
layout: default
level: 0
---

This page is used as help in my development collecting all the things that are
neccessary to know.

<div class="row modules"><div style="display:none">
{% for page in site.develop %}
  {% if page.level == 1 %}
  </div><div class="col-md-4 col-sm-6 col-xs-12">
  <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
  {% elsif page.level == 0 %}
  {% else %}
  <h5><a href="{{ page.url }}">{{ page.title }}</a></h5>
  {% endif %}
{% endfor %}
</div></div>

All the informations under Language and Tools are generally described. To find
specific things to some of my modules see under the [Code](/code.html) section.
So you will find a general markdown syntax description here but a more specific one in the
[report](http://alinex.github.io/node-report) which implements my way of markdown.
