---
title: Development Index
layout: default
level: 0
---

Because the development information was growing and growing I moved it to
[https://alinex.gitbooks.io/nodejs/](GitBooks).

---

The following is no longer updated and may be deleted in the future.

This page is used as help in my development collecting all the things that are
neccessary to know.

<div class="row modules"><div style="display:none">
{% for page in site.develop %}
  {% if page.level == 1 %}
  </div><div class="col-md-4 col-sm-6 col-xs-12">
  <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
  {% elsif page.level == 0 %}
  {% else %}
  <h5><a href="{{ page.url }}">{{ page.title }}</a></h5>
  {% endif %}
{% endfor %}
</div></div>

All the informations under Language and Tools are general descriptions not specific to my
work but the things within the Alinex column belonging more to my understanding how things
should be and how it is done in my modules.
<br>Also find the description of how to work with my modules under the <a href="/code.html">Code</a>
section. So you will find a general markdown syntax description here but a more specific one in the
<a href="http://alinex.github.io/node-report">report</a> which implements my way of markdown.
