<h4>About Me</h4>

<ul>
<li>Alexander Schilling
<li>Germany
<li>Age above 40
</ul>

<p>Profession</p>
<ul>
<li>Business Informatics
<li>Software Architecture
<li>Web Development
<li>IT Administration
</ul>

<p>IT Skills</p>

<ul>
<li>Linux
<li>JavaScript, CoffeeScript, Node.JS
<li>Java, Servlets, JSP
<li>PHP, Perl
<li>HTML, CSS, CSS3, ...
<li>MySQL, Postgres Databases
<li>NoSQL like MongoDB, Redis
<li>Jira, Confluence
<li>Git, Subversion, BDD, CI
</ul>

<p><br/></p>

<h4>Contact</h4>

<ul>
<li><a href="mailto:info@alinex.de">info@alinex.de</a>
<li>Mühlstraße 13
<br/>D-72805 Lichtenstein
<li>Working at 4 Readers / divibib / ekz Reutlingen
</ul>

<p><br/></p>

<h4>Professional Projects</h4>

<ul>
<li>Automated Audio Conversion (Node.JS, Coffee)
<li>Media Delivery (audio, video) with Watermarks (PHP)
<li>Medical Patient Simulator (Java)
<li>Websites for small organizations
<li>Client Framework Development (JavaScript)
<li>CMS for Multinational Companies (Perl)
<li>Automated Intranet System (Perl)
</ul>
