<h4>About Me</h4>

<ul>
<li>Alexander Schilling</li>
<li>Germany</li>
<li>Age: above 40</li>
</ul>

<p>Profession</p>
<ul>
<li>Business Informatics</li>
<li>Software Architecture</li>
<li>Web Development + Design</li>
<li>IT Administration</li>
</ul>

<p>IT Skills</p>

<ul>
<li>Linux Administration</li>
<li>JavaScript, CoffeeScript, Node.JS</li>
<li>Java, Servlets, JSP</li>
<li>PHP, Perl</li>
<li>Some Python, Go, Rust</li>
<li>HTML, CSS, CSS3, ...</li>
<li>BDD, CI</li>
</ul>

<p>Systems / Frameworks</p>

<ul>
<li>MySQL, Postgres Databases</li>
<li>NoSQL like MongoDB, Redis</li>
<li>Git, Subversion</li>
<li>Jira, Confluence</li>
<li>Vue, Bootstrap, jQuery, ...</li>
</ul>

<p><br/></p>

<h4>Contact</h4>

<ul>
<li><a href="mailto:info@alinex.de">info@alinex.de</a></li>
<li>Mühlstraße 13</li>
<br/>D-72805 Lichtenstein</li>
<li>Working at divibib / ekz Reutlingen</li>
</ul>

<p><br/></p>

<h4>Professional Projects</h4>

<ul>
<li>IT Administration interface (NodeJS, Vue)</li>
<li>Process Automation and IT Operations Solutions (Node.JS, Coffee)</li>
<li>Automated Audio Conversion (Node.JS, Coffee)</li>
<li>Media Delivery (audio, video) with Watermarks (PHP)</li>
<li>Medical Patient Simulator (Java, HTML)</li>
<li>Company Websites or Project Sites (HTML, CSS, ...)</li>
<li>Client Framework Development (JavaScript)</li>
<li>CMS for Multinational Companies (Perl)</li>
<li>Automated Intranet System (Perl)</li>
</ul>

<h4><a href="https://www.alinex.de/#/policy">Privacy Statement</a></h4>