About Me

<ul>
<li>Alexander Schilling
<li>Germany
<li>Age above 40
</ul>

<p>Profession</p>
<ul>
<li>Business Informatics
<li>Software Architecture
<li>Web Development
<li>IT Administration
</ul>

<p>IT Skills</p>

<ul>
<li>Linux
<li>JavaScript, CoffeeScript
<li>Java, Servlets, JSP
<li>PHP, Perl
<li>HTML, CSS, CSS3
<li>SQL and NoSQL Databases
<li>...
</ul>

<h4>Contact</h4>

<ul>
<li><a href="mailto:info@alinex.de">info@alinex.de</a>
<li>Mühlstraße 13
<br/>72805 Lichtenstein
<li>Working at 4 Readers GmbH / divibib GmbH / ekz
<br/>Reutlingen
</ul>

<p><br/></p>

<h4>Professional Projects</h4>

<ul>
<li>Media Delivery with Watermarks (PHP)
<li>Inmedea Simulator (Java)
<li>Websites for small organizations
<li>CMS (Perl)
</ul>
