{% include header.html %}

<div class="row-fluid">
  <div class="col-xs-12 col-sm-8 col-sm-push-4 col-md-7 col-md-push-2"
  style="z-index:3; padding-bottom:50px">

    <h1>{{ page.title }}</h1>
    {{ content }}

  </div>
  <div class="hidden-xs col-sm-4 col-sm-pull-8 col-md-2 col-md-pull-7 hidden-print">
    {% include toc.md %}
    {% include developIndex.html %}
  </div>
  <div class="col-xs-12 col-sm-8 col-md-3 pull-right hidden-print" id="sidebar">
    {% include about.html %}
  </div>
</div>

{% include footer.html %}
