{% include header.html %}

<div class="row-fluid">
  <div class="col-xs-12 col-sm-8 col-sm-push-4 col-md-6 col-md-push-3"
  style="z-index:3; padding-bottom:50px">

    <ul id="results-container"></ul>

    {{ content }}

  </div>
  <div class="col-xs-12 col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-6 hidden-print">
    {% include tags.html %}
  </div>
  <div class="col-xs-12 col-sm-8 col-md-3 pull-right hidden-print" id="sidebar">
    {% include about.html %}
  </div>
</div>

{% include footer.html %}
